<% if current_page?(articles_path) %>
  <style>
    body {
      background-color: rgba(220, 220, 220, 1);
    }
  </style>
<% end %>
<div class="article-container" data-simplebar>
  <% @articles.each_with_index do |article, index| %>
    <% if (index+1).even? %>
      <div class="article background-white">
        <%= render 'article', article: article%>
      </div>
    <% else %>
      <div class="article background-gray">
        <%= render 'article', article: article%>
      </div>
    <% end %>
  <% end %>
</div>
