<div class="footer-container">
  <div class="footer-contact-adress">
    <div class="footer-contact">
      <h5>CABINET BORDEAUX</h5>
      <p>116 Cours Aristide Briand <br> 33000 Bordeaux</p>
      <p>05 56 31 44 65</p>
    </div>
    <div class="footer-contact">
      <h5>CABINET CARBON-BLANC</h5>
      <p>22 Avenue de Bordeaux <br> 33560 Carbon-Blanc</p>
      <p>05 57 30 86 04</p>
    </div>
  </div>
  <div class="footer-contact-email">
    <i class="far fa-envelope"></i>
    <p>lindagba.mba.avocat@gmail.com</p>
  </div>
</div>
