<div class="footer-container">
  <div class="footer-contact-adress">
    <div class="footer-contact">
      <h5>CABINET BORDEAUX</h5>
      <p>105 rue Lecocq <br> 33000 Bordeaux</p>
      <p>05 35 54 52 30</p>
    </div>
    <div class="footer-contact">
      <h5>CABINET CARBON-BLANC</h5>
      <p>4 rue Thérèse <br> 33560 Carbon-Blanc</p>
      <p>05 57 30 86 04</p>
    </div>
  </div>
  <div class="footer-contact-email">
    <i class="far fa-envelope"></i>
    <a class="emailto" href="mailto:flm.cabinet.avocat@gmail.com">flm.cabinet.avocat@gmail.com</a>
  </div>
  <div class="footer-legal-mentions">
    <p>© 2018 Maître Francine LINDAGBA-MBA - tous droits réservés - réalisation <a href="http://www.corentindiard.fr/" target="_blank">Corentindiard.fr</a> - <%= link_to "Mentions légales", mentions_legales_path %>
    </p>
  </div>
</div>
