<div class="domaine-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="domaine-droit">
          <div class="domaine-droit-content">
            <h3>Droit des affaires</h3>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
            </p>
          </div>
          <div class="domaine-droit-photo" style="background-image:url(<%= asset_path 'droit-affaire.jpeg' %>)">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="domaine-droit-reverse">
          <div class="domaine-droit-content">
            <h3>Droit de la famille</h3>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
            </p>
          </div>
          <div class="domaine-droit-photo" style="background-image:url(<%= asset_path 'droit-famille.jpeg' %>)">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="domaine-droit">
          <div class="domaine-droit-content">
            <h3>Droit du travail</h3>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
            </p>
          </div>
          <div class="domaine-droit-photo" style="background-image:url(<%= asset_path 'droit-travaille.jpeg' %>)">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="domaine-droit-reverse" id="last-domaine-droit">
          <div class="domaine-droit-content">
            <h3>Droit divers</h3>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
            </p>
          </div>
          <div class="domaine-droit-photo" style="background-image:url(<%= asset_path 'droit-divers.jpeg' %>)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
